
@model List<StoreApp.Models.Product>



    <div class="row my-3">
    @foreach(StoreApp.Models.Product prd in Model)
    {
        
        
         <partial name="_ProductCard" model="@prd" />

       
    }
     </div>

@section Footer{
    <div>
        Only for Index footer
    </div>
}
